<section class="products-index">

  <header class="page-header">
    <h1>Dashboard</h1>
  </header>

  <div class="well">
    <div class="products">
      <h3>Total <%= link_to 'Products',  [:admin, :products] %>:</h3> <h1> <%= @products.size %> </h1>
      <h3>Total <%= link_to 'Categories',  [:admin, :products] %>:</h3> <h1> <%= @categories.size %> </h1>
    </div>
  </div>

</section>






